<!DOCTYPE html>
	<html>
	<head>
		<title>Market Basket</title>
		<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap"/>
		<link rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
		<link rel='stylesheet' href='/bootstrap/css/bootstrap.css'/>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>