<% include ../partials/head %>
<body>
    <body>
      <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a href="/" class="navbar-brand v-market-logo"><img alt="Visual Market logo" height="40" src="/images/logo-land-neg.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a href="/" class="nav-link">Market Values</a>
              </li>
              <li class="nav-item active">
                <a href="/top" class="nav-link">Top Values</a>
              </li>
            </ul>
          </div>
		</nav>
		<div>
			<div class="img-searcher-container d-flex justify-content-center">
				<div class="d-flex justify-content-center align-items-end flex-column container">
					<div class="searcher-container">
						<h1 class="text-white">The World’s Leading Exchange Platform</h1>
						<h2 class="text-white">Trade Bitcoin, BNB, and hundreds of other cryptocurrencies in minutes</h2>
						<form id="searcher" action="/search-form" method="post">
							<div class="inputWithIcon">
								<input type="text" placeholder="Search markets by name" name="searchTerm">
								<i class="material-icons" aria-hidden="true">search</i>
								<input type="submit" value="search">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="rolling-market-background">
				<div class="ticker-wrap d-flex">
					<div class="ticker">
						<% for(var i=0; i < settings.headerMarkets.length; i++) { %>
							<div class="ticker__item"><span><%= settings.headerMarkets[i].symbol %></span> | <span class="text-danger"><%= settings.headerMarkets[i].price %> $</span></div>
						<% }; %>
					</div>
				</div>
			</div>
		</div>