<% include ../partials/header %>
	<div id="searchResults" class="market-values container py-5">
		<h3 class="mb-3 table-title">Search Results</h3>
		<div class="accordion" id="searchResults">
			<div class="card">
				<%# for(var i=0; i < results.length; i++) { %>
				<%# }; %>
				<%= results %>
			</div>
		</div>
	</div>
<% include ../partials/footer %>